/*Tablets (768px – 1024px)*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* Navegación */
  .navigation-block {
    padding-left: 8%;
    padding-right: 8%;
  }

  .navigation {
    gap: 16px;
    margin: 15px;
  }

  /* Hero */
  .hero-image {
    width: 80%;
  }

  /* Quiénes somos */
  .about-us-block-content {
    max-width: 60%;
  }

  .about-us-services-block {
    max-width: 80%;
  }

  /* Diagnóstico */
  .diagnostic-block {
    max-width: 80%;
  }

  .diagnostic-sub-block {
    gap: 3rem;
  }

  /* Página servicios */
  .container-services {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .container-models,
  .service-list-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .model-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 3.5);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .service-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 2.5);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .model-block > img {
    width: 18vh;
    height: 9vh;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .block-button-service {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-black);
    color: var(--color-white);
    border-radius: 12px;
    text-decoration: none;
    margin-top: 10px;
  }

  .block-button-service:hover {
    background: var(--color-black);
  }

  .service-block-price {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 10px 0;
  }

  .model-header {
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
  }

  .service-block-tittle {
    font-weight: 600;
  }

  .service-block-description {
    font-weight: 300;
  }

  #models-advice-block {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}

/* Moviles (menos de 768px) */

@media (max-width: 767px) {
  /* Layout general */
  .navigation-block {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }

  .navigation {
    justify-content: center;
    margin: 10px 0;
  }

  .hero-image {
    width: 100%;
  }

  .about-us-block-content,
  .about-us-services-block,
  .diagnostic-block {
    max-width: 100%;
  }

  /* Columna única en diagnóstico */
  .about-us-services-block {
    flex-direction: column;
    gap: 2rem;
  }

  .diagnostic-sub-block {
    flex-direction: column;
    gap: 2rem;
  }

  /* 
    Orden en diagnostico avanzado
    primero texto y después la imagen
  */

  /* Primera fila texto + imagen */
  .diagnostic-sub-block:nth-of-type(2) > div:first-child {
    order: 1;
    /* texto */
  }

  .diagnostic-sub-block:nth-of-type(2) > div:last-child {
    order: 2;
    /* imagen */
  }

  /* Segunda fila en desktop es imagen + texto, aquí se invierte */
  .diagnostic-sub-block:nth-of-type(3) > div:first-child {
    order: 2;
    /* imagen pasa abajo */
  }

  .diagnostic-sub-block:nth-of-type(3) > div:last-child {
    order: 1;
    /* texto sube arriba */
  }

  /* Ajustes de texto */
  .heading-text {
    font-size: 2rem;
  }

  .heading-text-2 {
    font-size: 1.6rem;
  }

  .heading-text-3 {
    font-size: 1.1rem;
  }

  .large-font-size {
    font-size: 1.5rem;
  }

  .medium-font-size {
    font-size: 1.2rem;
  }

  .small-font-size {
    font-size: 0.85rem;
  }

  /* Footer en columna */
  .footer-block {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  /* Página servicios */
  .container-services {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .container-models,
  .service-list-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .model-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 2.25);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .service-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 1.25);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .model-block > img {
    width: 15vh;
    height: 8vh;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .block-button-service {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-black);
    color: var(--color-white);
    border-radius: 12px;
    text-decoration: none;
    margin-top: 10px;
  }

  .block-button-service:hover {
    background: var(--color-black);
  }

  .service-block-price {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    margin: 10px 0;
  }

  .model-header {
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
  }

  .service-block-tittle {
    font-weight: 600;
  }

  .service-block-description {
    font-weight: 300;
  }

  #models-advice-block {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}
