/*Tablets (768px – 1024px)*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* Navegación */
  .navigation-block {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .hero-section {
    position: relative;
    margin-top: -12rem;
    min-height: 100vh;
    background-image: url("../img/hero_imagen1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* Oscurecer imagen */
  .hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    padding: 2rem;
  }

  /* Títulos hero*/
  .hero-title,
  .hero-description,
  .hero-subtitle {
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  }

  /* Hero */
  .hero-image {
    width: 90%;
  }

  /* Quiénes somos */
  .about-us-block-content {
    max-width: 60%;
  }

  .about-us-services-block {
    max-width: 80%;
  }

  /* Diagnóstico */
  .diagnostic-block {
    max-width: 80%;
  }

  .diagnostic-sub-block {
    gap: 3rem;
  }

  /* Página servicios */
  .container-services {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .container-models,
  .service-list-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .model-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 3.5);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .service-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 2.5);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .model-block>img {
    width: 18vh;
    height: 9vh;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .block-button-service {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-blue-1);
    color: var(--color-white);
    border-radius: 12px;
    text-decoration: none;
    margin-top: 10px;
  }

  .block-button-service:hover {
    background: var(--color-blue-2);
  }

  .service-block-price {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 10px 0;
  }

  .model-header {
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
  }

  .service-block-tittle {
    font-weight: 600;
  }

  .service-block-description {
    font-weight: 300;
  }

  #models-advice-block {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}

/* Moviles (375px – 767px) */

@media (min-width: 340px) and (max-width: 540px) {

  /* Layout general */
  .navigation-block-index {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
  }

  /* Layout general */
  .navigation-block {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
  }

  .navigation-logo {
    width: 75px;
    height: auto;
    display: flex;
    justify-content: flex-start;
  }

  .navigation-item {
    font-weight: 400;
    list-style: none;
  }

  .navigation {
    justify-content: center;
  }

  .hero-image {
    width: 60%;
  }

  .hero-section {
    position: relative;
    margin-top: -12rem;
    min-height: 100vh;
    background-image: url("../img/hero_imagen1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    padding: 2rem;
  }

  /* Títulos hero*/
  .hero-title {
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 1.2rem;
  }

  .hero-description,
  .hero-subtitle {
    color: white;
    font-size: 1rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    font-weight: 400;
  }

  .about-us-block-content,
  .about-us-services-block,
  .diagnostic-block {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Columna única en diagnóstico */
  .about-us-services-block {
    flex-direction: column;
    gap: 2rem;
  }

  .diagnostic-sub-block {
    flex-direction: column;
    gap: 2rem;
  }

  /* 
    Orden en diagnostico avanzado
    primero texto y después la imagen
  */

  /* Primera fila texto + imagen */
  .diagnostic-sub-block:nth-of-type(2)>div:first-child {
    order: 1;
    /* texto */
  }

  .diagnostic-sub-block:nth-of-type(2)>div:last-child {
    order: 2;
    /* imagen */
  }

  /* Segunda fila en desktop es imagen + texto, aquí se invierte */
  .diagnostic-sub-block:nth-of-type(3)>div:first-child {
    order: 2;
    /* imagen pasa abajo */
  }

  .diagnostic-sub-block:nth-of-type(3)>div:last-child {
    order: 1;
    /* texto sube arriba */
  }

  .faq-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Ajustes de texto */
  .heading-text {
    font-size: 2rem;
  }

  .heading-text-2 {
    font-size: 1.6rem;
  }

  .heading-text-3 {
    font-size: 1.1rem;
  }

  .large-font-size {
    font-size: 1.5rem;
  }

  .medium-font-size {
    font-size: 1.2rem;
  }

  .small-font-size {
    font-size: 0.85rem;
  }

  /* Footer en columna */
  .footer-block {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  /* Página servicios */
  .container-services {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .container-models,
  .service-list-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .model-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 2.25);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .service-block {
    border: 1px solid var(--color-gray-600);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: var(--color-white);
    width: calc(100% / 1.25);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .model-block>img {
    width: 15vh;
    height: 8vh;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .block-button-service {
    display: inline-block;
    padding: 10px 15px;
    background: var(--color-blue-1);
    color: var(--color-white);
    border-radius: 12px;
    text-decoration: none;
    margin-top: 10px;
  }

  .block-button-service:hover {
    background: var(--color-blue-2);
  }

  .service-block-price {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    margin: 10px 0;
  }

  .model-header {
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
  }

  .service-block-tittle {
    font-weight: 600;
  }

  .service-block-description {
    font-weight: 300;
  }

  #models-advice-block {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}