:root {
  /* Colores principales */
  --color-black: #000;
  --color-black-2: #252525;
  --color-white: #ffffff;
  --color-blue-1: #1e67aa;
  --color-blue-2: #13416d;

  /* Grises generales */
  --color-gray-100: #f9f9f9;
  --color-gray-150: #f9fafc;
  --color-gray-200: #f6f7fb;
  --color-gray-250: #f3f4f6;
  --color-gray-300: #f5f5f5;
  --color-gray-400: #f1f1f1;
  --color-gray-500: #ddd;
  --color-gray-600: #ccc;
  --color-gray-700: #636363;
  --color-gray-800: #555;
  --color-gray-900: #333;
  --color-gray-950: #2c2c2c;

  /* WhatsApp */
  --color-wp: rgb(23, 212, 23);
  --color-wp-hover: rgb(14, 110, 14);

  /* Enlaces y elementos activos */
  --color-active-bg: #2c2c2c;
  --color-table-hover: #f1f1f1;

  /* Danger */
  --color-danger: #d9534f;
  --color-danger-hover: #b52b27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.6;
  color: var(--color-gray-900);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-gray-100);
}

main {
  margin-top: 20px;
  background-color: var(--color-gray-100);
  flex: 1;
}

section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
  background-color: var(--color-gray-100);
}

footer {
  color: var(--color-gray-700);
  background-color: var(--color-gray-300);
  padding: 25px;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4 {
  color: var(--color-black);
}

ul,
li {
  color: var(--color-black);
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

p {
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

img {
  max-width: 100%;
  display: block;
}