<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Especialistas de SCN Coding - Retrofits para Mercedes-Benz en la provincia de Almería." />
  <meta property="og:title" content="Inicio – MB Retrofit Almería" />
  <title>Inicio – MB Retrofit Almería</title>
  <link rel="icon" href="./img/mbr_logo.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="./img/mbr_logo.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <main>
    <header>
      <div class="navigation-block-index">
        <div>
          <a href="index.php">
            <img class="navigation-logo" src="./img/mbr_logo_blanco_sin_fondo.png" alt="Logo" />
          </a>
        </div>
        <div>
          <ul class="navigation">
            <li class="navigation-item navigation-link">
              <a class="navigation-item_content_main" href="index.php">
                <span class="navigation-item_label bolded">Inicio</span>
              </a>
            </li>
            <li class="navigation-item navigation-link">
              <a class="navigation-item_content_main" href="servicios.php">
                <span class="navigation-item_label">Servicios</span>
              </a>
            </li>
            <li class="navigation-item navigation-link">
              <a class="navigation-item_content_main" href="contacto.php">
                <span class="navigation-item_label">Contacto</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container-main">
      <div class="hero-section">
        <div class="hero-overlay"></div>
        <div class="hero-content">
          <h1 class="hero-title">MB Retrofit Almería</h1>
          <h2 class="hero-subtitle">Codificaciones SCN para Mercedes-Benz</h2>
          <p class="hero-description">
            Optimizaciones, adaptaciones/configuraciones <br />
            y activaciones para tu Mercedes-Benz
          </p>
          <a href="servicios.php" class="hero-button">Servicios</a>
        </div>
      </div>

      <div class="about-us-block" id="quienes_somos">
        <div class="about-us-block-content">
          <h2 class="heading-text text-align-center style-asterisk">
            Quiénes somos
          </h2>
          <p class="text-align-center">
            Somos entusiastas de la marca especializados en codificaciones SCN
            para vehículos Mercedes-Benz. Trabajamos con software oficial y
            ofrecemos soluciones rápidas, seguras y eficaces. Ubicados en la
            provincia de Almería, ofrecemos atención personalizada y
            confianza. También ofrecemos asistencia online para clientes fuera
            de la provincia.
          </p>
        </div>

        <div class="about-us-services-block">
          <div id="servicios">
            <h4 class="text-align-left style-asterisk">Codificaciones SCN</h4>
            <p class="text-align-left">
              Algunas de las codificaciones más requeridas:
            </p>
            <ul>
              <li>Desactivar función Start/Stop automático.</li>
              <li>Alarma perimetral EDW</li>
              <li>Función luz intermitente de 3 a 5 o 6 parpadeos.</li>
              <li>Desactivar aviso acústico cinturón de seguridad.</li>
            </ul>
          </div>
          <div>
            <h4 class="text-align-left style-asterisk">
              Codificaciones Vehículos AMG
            </h4>
            <p class="text-align-left">Paquete AMG Performance</p>
            <ul>
              <li>
                Deslimitar velocidad máxima del vehículo (limitado a 250km/h
                de serie en vehículos AMG)
              </li>
              <li>
                Emotion Start (Breves pops and bangs al arrancar, solo en
                temperatura de servicio)
              </li>
              <li>Pops and bangs más agresivos</li>
              <li>Modo de conducción por defecto (Solo algunos modelos)</li>
            </ul>
          </div>

          <div>
            <h4 class="text-align-left style-asterisk">
              Activación de funciones – Retrofits
            </h4>
            <p class="text-align-left">
              Te ayudamos con cualquier retrofit que requiera SCN coding
            </p>
            <ul>
              <li>
                Luces largas automáticas (Si dispone de unidad Comand APS)
              </li>
              <li>
                Coding luces ambiente en HU (Cualquier modelo que lo admita de
                fábrica)
              </li>
              <li>
                Espejos abatibles electrónicamente, cámara de marcha atrás,
                etc..
              </li>
            </ul>
          </div>
        </div>
        <div class="block-button-know-more text-align-center">
          <button class="round-btn" onclick="window.location.href='#diagnostic_block'">
            &#8595;
          </button>
        </div>
      </div>

      <div class="diagnostic-block">
        <div class="is-vertical content-justification-center">
          <h2 class="style-asterisk heading-text text-align-center">
            Diagnóstico avanzado
          </h2>
          <p class="text-align-center" id="diagnostic_block">
            Disponemos de los software oficial de Mercedes-Benz para
            diagnosis, SCN coding, entre otros.
          </p>
        </div>

        <div class="diagnostic-sub-block">
          <div class="vertically-aligned-center">
            <h3 class="style-asterisk heading-text-2">
              Software oficial de diagnosis de Mercedes-Benz
            </h3>
            <ul class="style-checkmark-list" style="flex-basis: 40%">
              <li>Diagnosis avanzada</li>
              <li>Detección de errores</li>
              <li>Adaptaciones</li>
            </ul>
          </div>

          <div>
            <figure class="diagnostic-images-block diagnostic-images-block-align-right">
              <img class="diagnostic-images" src="./img/car_diagnostic.jpg" alt="" />
            </figure>
          </div>
        </div>

        <div class="diagnostic-sub-block">
          <div>
            <figure class="diagnostic-images-block diagnostic-images-block-align-left">
              <img class="diagnostic-images" src="./img/front_car.jpg" alt="" />
            </figure>
          </div>

          <div class="vertically-aligned-center">
            <h3 class="style-asterisk heading-text-2">
              DTS Monaco y Vediamo
            </h3>
            <ul class="style-checkmark-list" style="flex-basis: 40%">
              <li>
                Software oficial de Daimler para ingenieria(vehículos actuales
                y más antiguos)
              </li>
              <li>Diagnosis avanzada</li>
              <li>SCN Coding</li>
              <li>Adaptaciones</li>
              <li>Etc..</li>
            </ul>
          </div>
        </div>
        <div class="block-button-know-more text-align-center">
          <button class="round-btn" onclick="window.location.href='#faq'">
            &#8595;
          </button>
        </div>
      </div>

      <div class="faq-block">
        <section id="faq" class="faq">
          <h2>Preguntas frecuentes</h2>
          <div class="faq-item">
            <div class="faq-question">¿Qué es una codificación SCN?</div>
            <div class="faq-answer">
              Es un proceso donde el software de la/s unidad/es de control del vehículo se calibran, para adaptar la
              electrónica a las características específicas del vehículo, actualizando y optimizando su comportamiento
              para una mejor experiencia para el usuario.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              ¿Pierdo la garantía oficial de mi vehículo?
            </div>
            <div class="faq-answer">
              No, el proceso se realiza de forma segura mediante
              codificación SCN, sin manipular ninguna pieza de vehículo y sin
              alterar el software original de ninguna unidad de control. Siempre por seguridad se respalda la
              configuración antes y después
              de los cambios realizados.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">¿Cuánto se tarda en realizar algún servicio?</div>
            <div class="faq-answer">
              Normalmente entre 30 minutos y 2 horas, dependiendo de la
              cantidad de servicios acordados, dificultad de los mismos,
              etc...
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              Me interesan vuestros servicios, ¿Dónde puedo encontraros?
            </div>
            <div class="faq-answer">
              No disponemos de taller, pero trabajamos de forma in situ en tú vehículo en Almería capital,
              sin coste de desplazamiento.
              <br />
              También realizamos trabajos fuera de la capital o de la
              provincia pero con recargo adicional por desplazamiento.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              ¿El coding sirve para cualquier vehículo de la marca sin importar el año?
            </div>
            <div class="faq-answer">
              No, solo disponemos de hardware para manipular vehículos
              posteriores a 2010 (hay algunas excepciones)
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              ¿No soy de Almería pero me interesa alguno de tus servicios, que
              puedo hacer?
            </div>
            <div class="faq-answer">
              Si dispones de hardware necesario pero necesitas ayuda, te
              podemos asistir de forma remota, disponemos de amplia
              experiencia en retrofits/coding. Para asistencia remota es
              necesario tener internet donde se realizaría el trabajo de
              codificación y un software de asistencia remota como TeamViewer
              o AnyDesk, si no dispones del software para codificar el
              vehículo, se le proporcionará.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">¿Los trabajos de SCN Coding tienen garantía?</div>
            <div class="faq-answer">
              Sí, ofrecemos garantía de por vida para cualquier coding, siempre y
              cuando su restablecimiento esté justificado, ej: Se restableció
              el SCN coding por una actualización de software en casa oficial
              o cambio por averia de alguna unidad de control implicada. Si
              usted reemplaza la unidad de control por motivos diferentes a
              los descritos, no ofrecemos ningun tipo de garantia en el SCN
              coding realizado.
            </div>
          </div>
          <div class="block-buttons content-justification-center" id="boton_contacto">
            <div class="block-button">
              <a href="./contacto.php">Contactar con nosotros</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-block">
      <div>
        <span class="text-align-center">
          MB Retrofit Almería © 2025. Todos los derechos reservados.
        </span>
      </div>
      <div class="terms-and-privacy-links-block">
        <a class="footer-link" href="terminos_condiciones.php">Términos y Condiciones</a>
        <span class="footer-separator">|</span>
        <a class="footer-link" href="politica_privacidad.php">Política de Privacidad</a>
      </div>
    </div>
  </footer>

  <script src="./js/faq.js"></script>
</body>

</html>