* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--color-gray-150);
  margin: 0;
  padding: 2rem;
}

.container {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
}

#titulo {
  font-weight: 400;
  font-size: 2.45rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 3rem;
}

input[type="text"] {
  padding: 8px 12px;
  border: 1px solid var(--color-gray-600);
  border-radius: 8px;
  width: 250px;
}

input:focus {
  border: 1px solid var(--color-blue-1);
  outline: none;
}

button,
a.button {
  background-color: var(--color-blue-1);
  color: var(--color-white);
  padding: 8px 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
}

button:hover,
a.button:hover {
  background-color: var(--color-blue-2);
}

a.logout {
  background-color: var(--color-gray-800);
}

a.logout:hover {
  background-color: var(--color-gray-900);
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
}

th,
td {
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray-500);
  text-align: left;
  vertical-align: top;
}

tr:hover {
  background-color: var(--color-table-hover);
}

td .delete {
  color: var(--color-danger);
  font-weight: bold;
  text-decoration: none;
}

td .delete:hover {
  color: var(--color-danger-hover);
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 12px;
  margin: 0 3px;
  background: var(--color-gray-500);
  color: var(--color-gray-900);
  border-radius: 6px;
  text-decoration: none;
}

.pagination a.active {
  background: var(--color-active-bg);
  color: var(--color-white);
}

.pagination a:hover {
  background: var(--color-active-bg);
  color: var(--color-white);
}

@media (max-width: 768px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid var(--color-gray-500);
    border-radius: 8px;
    background: var(--color-white);
    padding: 10px;
  }

  th {
    display: none;
  }

  td {
    border: none;
  }

  td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    color: #2a7ae2;
  }
}