* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--color-gray-200);
  color: var(--color-gray-900);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px 60px;
  text-align: center;
  max-width: 400px;
}

h1 {
  color: var(--color-gray-900);
  margin-bottom: 15px;
}

p {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: var(--color-gray-800);
}

a.button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
}

a.button:hover {
  background-color: var(--color-active-bg);
}
