/* Enlace WhatsApp */
#link_wp {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 16px;
  color: var(--color-wp);
  vertical-align: middle;
}

#link_wp:hover {
  color: var(--color-wp-hover);
}

#link_wp img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

/* Encabezado */
.contact-hearder {
  padding-top: 1rem;
  padding-bottom: 1.9rem;
}