* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--color-gray-250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: var(--color-white);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: var(--color-black);
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid var(--color-gray-600);
  border-radius: 8px;
}

button {
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-active-bg);
}

.error {
  color: var(--color-danger);
  margin-top: 10px;
}
