.container-services {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.container-models,
.service-list-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.model-block,
.service-block {
  border: 1px solid var(--color-gray-600);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  background: var(--color-white);
  width: calc(100% / 6);
  display: grid;
  justify-content: center;
  align-items: center;
}

.model-block > img {
  width: 24vh;
  height: 12vh;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.block-button-service {
  display: inline-block;
  padding: 10px 15px;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 12px;
  text-decoration: none;
  margin-top: 10px;
}

.block-button-service:hover {
  background: var(--color-black);
}

.service-block-price {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.model-header {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.service-block-tittle {
  font-weight: 700;
}

.service-block-description {
  font-weight: 400;
}