* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--color-gray-250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: var(--color-white);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#titulo {
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid var(--color-gray-600);
  border-radius: 8px;
}

input:focus {
  border: 1px solid var(--color-blue-1);
  outline: none;
}

button {
  background-color: var(--color-blue-1);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  margin-top: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-blue-2);
}

.error {
  color: var(--color-danger);
  margin-top: 10px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  /* espacio para el icono */
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.toggle-password:hover {
  color: #000;
}